*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin-bottom: 10px;
    height: 80px;
    background-color: gray;
    color: white;
    display: flex;
    border: 2px solid black;
    align-items: center;
    text-align: center;
}